#root {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

input {
    font-size: 16px;
}

a, a:link, a:visited {
    color: black;
}

header h1 {
    text-align: center;
    font-size: 2.5rem;
}

header, footer {
    background-color: whitesmoke;
    padding: 1rem;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.main-layout {
    display: flex; 
    flex: 1;
    justify-content: center;
    gap: 50px;
    padding: 20px;
    background-color: rgb(27, 31, 33);
}


@media (max-width: 1200px) {

    .main-layout {
        flex-direction: column-reverse;
        align-items: center;
    }

    .sidebar button {
        justify-content: center !important;
    }

    .sidebar ul {
        justify-content: space-evenly;
        flex-direction: row !important;
    }

    .details {
        width: 88%;
    }

    .details-container {
        width: 100% !important;
    }
    
    .details-sub-container {
        width: 100% !important;
    }
}

@media (max-width: 620px) {

    #root {
        min-width: 325px;
    }

    .resume-container {
        font-size: 0.8rem;
        width: 95vw !important;
    }

    .sidebar button {
        width: fit-content !important;
    }

    .main-layout {
        gap: 20px;
    }

    .resume-container {
        min-height: fit-content !important;
    }

    .card span:nth-child(2) {
        display: flex;
        flex-wrap: nowrap;
        width: 200px;
        justify-content: flex-end;
    }

    button p {
        display: none;
    }
}

@media print {
    .sidebar, .details, header, footer {
        display: none !important;
    }

    @page:first {
        margin: 0cm;
    }
    @page:last {
        margin: 5cm;
    }
    @page:left {
        margin: 2cm 1.5cm 2cm 2cm;
    }
    @page:right {
        margin: 2cm 2cm 2cm 1.5cm;
    }
}

