.details-container {
    width: fit-content;
}

.details-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: powderblue;
    width: 320px;
    height: fit-content;
    border-radius: 15px;
    padding: 20px;
}

form div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

form input {
    width: 70%;
    padding: 5px 5px 5px 10px;
    border-radius: 6px;
    border: none;
}

form div:nth-child(5) {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}

form button {
    width: 80px;
    padding: 3px;
    border-radius: 6px;
    border: none;
}
form button:hover, button:focus {
    outline: 2px solid black;
}
