.details-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: fit-content;
}

.details-sub-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: powderblue;
    width: 320px;
    height: fit-content;
    border-radius: 15px;
    padding: 20px;
}

form div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

form input {
    width: 70%;
    padding: 5px 5px 5px 10px;
    border-radius: 6px;
    border: none;
}

.textarea-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.submit-container {
    display: block;
    text-align: right;
}

form textarea {
    width: 100%;
    overflow: auto;
    height: 4rem;
    resize: none;
}

form button {
    width: 80px;
    padding: 3px;
    border-radius: 6px;
    border: none;
}
form button:hover, button:focus {
    outline: 2px solid black;
}

.submit-container button[type='submit'] {
    transform: none;
    transition: none;
    background-color: rgb(0, 0, 0);
    border-radius: 6px;
    width: fit-content;
    padding: 5px 15px;
    color: whitesmoke;
}

.detailsTab {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    margin-top: 10px;
    border: 1px solid rgb(214, 242, 246, 0.5);
    padding: 6px 6px 6px 18px;
    border-radius: 6px 50px 50px 6px;
    transition: 300ms background-color ease-in;
}

.detailsTab span {
    flex-grow: 1;
}

.detailsTab:hover {
    background-color: whitesmoke;
}

.details-sub-container button {
    background-color: powderblue;
    border: none;
    border-radius: 50%;
    padding: 3px;
    transition: 1s transform cubic-bezier(0.23, 1, 0.320, 1);
    width: 32px;
    height: 32px;
    will-change: transform;
}

.details-sub-container li button:hover, button:focus {
    transform: rotate(360deg);
    cursor: pointer;
}

.visible {
    display: block;
}

.hidden {
    display: none;
}
