.resume-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: sans-serif;
    background-color: whitesmoke;
    padding: 15px;
    width: 595px;
    min-height: 842px;
    max-height: fit-content;
    line-height: 1.5;
    position: relative;
}

h1 {
    min-height: 3rem;
}

h2 {
    font-size: 1.3rem;
}

h3 {
    font-size: 1rem;
}

/* Overlay idea, create a pulsing red line showing the cut-off point for an A4 page */

/* .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 595px;
    height: 842px;
    border-bottom: 2px dashed red;
    animation: pulseInOut 1.5s infinite cubic-bezier(0.39, 0.575, 0.565, 1);
}

@keyframes pulseInOut {
    from { opacity: 1 }
    50% { opacity: 0 }
    to { opacity: 1 }
} */

/* Header */

.resume-header {
    text-align: center;
}

.resume-header div {
    display: flex;
    max-width: 595px;
    justify-content: space-evenly;
    padding: 10px;
    flex-wrap: wrap;
    text-wrap: wrap;
    hyphens: auto;
}

/* Work Experience, Education & Skills */

.resume-experience, 
.resume-education, 
.resume-skills {
    margin-top: 1rem;
}

.card {
    display: flex;
    flex-direction: column;
}

.card div:nth-child(1),
.card div:nth-child(2) {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card li {
    list-style: disc;
    margin-left: 1rem;
    text-wrap: pretty;
    hyphens: auto;
}
