

.resume-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: sans-serif;
    background-color: whitesmoke;
    padding: 15px;
    width: 595px;
    min-height: 842px;
    max-height: fit-content;
    line-height: 1.5;
    position: relative;
}

h1 {
    min-height: 3rem;
}

h2 {
    font-size: 1.3rem;
}

h3 {
    font-size: 1rem;
}
/* Header */

.resume-header {
    text-align: center;
}

.resume-header div {
    display: flex;
    max-width: 595px;
    justify-content: space-between;
    padding: 10px;
    flex-wrap: wrap;
    text-wrap: wrap;
    hyphens: auto;
}

.flex-centre {
    display: flex;
    gap: 0.2rem;
}

/* Work Experience, Education & Skills */

.resume-experience, 
.resume-education, 
.resume-skills {
    margin-top: 1rem;
}

.card {
    display: flex;
    flex-direction: column;
}

.card div:nth-child(1),
.card div:nth-child(2) {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card li {
    list-style: disc;
    margin-left: 1rem;
    text-wrap: pretty;
    hyphens: auto;
}
