.sidebar ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sidebar button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: whitesmoke;
    width: 140px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.sidebar button:focus {
    outline: 2px solid rgb(0, 0, 0);
    border-radius: 15px;
}

.sidebar button .reload:hover {
    border: none;
    background-color: transparent;
    cursor: pointer;
}


.sidebar li {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: transparent;
    border: 1px solid powderblue;
    height: fit-content;
    width: fit-content;
    padding: 0.5rem;
}